


.pageLayout {
    width:760px;
    height:100%;
}

.pageHeader {
    background-color: #6392C6;
    text-align: center;
    vertical-align: middle;
    height:1px;
    overflow:visible;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

.pageHeader1 {
}
.pageHeader2 {
    width:100%;
}
.pageHeader2col1 {
    background-color: #FFFFFF;
}

.pageNavigation {
    text-align: left;
    vertical-align: top;
    width: 200px;
    background-color: #E7EFF7;
    border: 1px solid #6392C6;
    padding: 10px;
}

.pageBody {
    text-align: left;
    vertical-align: top;
    width: 560px;
    padding: 20px;
    background-color: #FFFFFF;
}

.pageFooter {
    text-align: right;
    font-size: xx-small;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}

.navigation {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    width: 100%;
}






/* Dynamic Countdown Script */

.lcdstyle{ /*Example CSS to create LCD countdown look*/
background-color:black;
color:yellow;
font: bold 18px MS Sans Serif;
padding: 3px;
}

.lcdstyle sup{ /*Example CSS to create LCD countdown look*/
font-size: 80%
}

/* Dynamic Countdown Script */

